<header class="site-header">
  <div id="brandbar">
    <div class="container-fluid">
      <div class="row">
        <div class="dept-nd col text-left"><a href="https://www.nd.edu">University <i>of</i> Notre Dame</a></div>
      </div>
    </div>
  </div>
  <div id="titlebar">
    <div class="container-fluid">
      <div class="row">
        <div class="col"><h1><%= translate("title", scope: [:layouts, :application]) %></h1></div>
      </div>
    </div>
  </div>
</header>
